[Unit]
Description=uWSGI container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a flask
ExecStop=/usr/bin/docker stop -t 2 flask

[Install]
WantedBy=default.target
