{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
 <div class="page-header">
    <h1>List groups</h1>
</div>
<div class="row">
    <div class="col-sm-4">
	<ul id="blog_posts" class="list-group">
	    <a href="link.html"><li class="list-group-item">test link</li></a>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Morbi leo risus</li>
	    <li class="list-group-item">Porta ac consectetur ac</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	</ul>
    </div>
</div>
{% endblock %}


